ErrorDocument 403 /page25203215.html
ErrorDocument 404 /page25203215.html

DirectoryIndex page17912997.html

RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule ^(.*)$ https://antonastakhov\.com/$1 [R=301,L]

RewriteCond %{HTTP:X-Forwarded-Proto} =https
RewriteCond %{HTTP_HOST} ^www\.antonastakhov.com [NC]
RewriteRule ^(.*)$ https://antonastakhov\.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} /robots.txt
RewriteCond "%{DOCUMENT_ROOT}/robots_%{HTTP_HOST}.txt" -f
RewriteRule ^(.*)$ robots_%{HTTP_HOST}.txt [NC,L]
RewriteRule ^terms$ page25237585.html [NC]
RewriteRule ^terms/$ page25237585.html [NC]

RewriteRule ^privacy$ page25238057.html [NC]
RewriteRule ^privacy/$ page25238057.html [NC]

RewriteRule ^payment$ page25231804.html [NC]
RewriteRule ^payment/$ page25231804.html [NC]

RewriteRule ^favicon.ico$ https://static.tildacdn.com/tild6231-3064-4331-a430-353535313339/favicon.ico [R=302,L]

